[Unit]
Description=Supplify Docker Compose (Production)
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/supplify
ExecStart=/usr/bin/docker compose --env-file /opt/supplify/env/.env -f /opt/supplify/deploy/docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker compose --env-file /opt/supplify/env/.env -f /opt/supplify/deploy/docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
